@charset "utf-8";
@import "~bulma/bulma";

/* General Styles */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

$white: #fff;
$black: #090c02;

$button-color: $black;

@import "../node_modules/bulma/sass/elements/button.sass";

$input-color: $black;
$input-focus-border-color: $black;

@import "../node_modules/bulma/sass/elements/form.sass";
